@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,200&family=Tiro+Kannada:ital@1&display=swap');

/***************************************************************VARIAVÉIS CSS***/



:root{
  --cor_principal:white; /*  #440c71;/* #00008b;*/
  --cor02: rgb(84, 7, 184);  /* #9261c8 ;   /* #9261c8; */
  --cor_texto:white;
  --cor_text_p:rgb(23, 4, 4);
 --cor_titulos:blue;
 --cor03:rgb(151, 151, 220) ;
 --cor05:rgb(190, 188, 200);

  --font_principal: "Open Sans", sans-serif;
  --font_titulos:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

 * {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  
} 
body{
  background-color: var(--cor_principal);
  margin: 0 auto;
  padding: 0;
  
}

 #presentation{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  margin: 0;
 /* background-image: linear-gradient(#0080ed)  ;  /*url(/wwwroot/images/metalworking-1405852_1280.webp);*/
  background-repeat: no-repeat;
  background-size:cover ; 
  background-position: top center;
  position: relative;
  z-index: 1;
  width: auto;
  height: 100vh;
  overflow:hidden;
}
#presentation::after{
  content: '';
  position: absolute;
  left:0;
  bottom: 0;
  height:100%;
  width: 100%;
  background-image:url(/wwwroot/images/metalworking-1405852_1280.webp); /* linear-gradient(to top,#060544,#fff);*/
  background-repeat: no-repeat;
  background-size:cover; 
  z-index: -1;
}


.presentation__btn__produtos a{
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  border: 2px solid gold ;
  border-radius: 5px;
  color: gold;
  text-transform: uppercase;
  font-family: 'Poppins',verdana, sans-serif;
  

}

.presentation__btn__produtos a:hover{
  
 background-color: yellow;
 transition: 1.5s;
 color: rgba(11, 4, 4, 0.429);
 font-weight: 700;
 font-family: 'Times New Roman', Times, serif;

}

.container__navegacao {
  margin-top: 20px;
}
.linha--nav{
  width: 100%;
  border: 1px solid rgb(137, 134, 134);
}
.container__navegacao a,a+span{
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  color: var(--cor_texto);
  background-color: var(--cor05);
  margin:10px;
}

.container__navegacao :nth-child(1)::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-width: 13px;
  margin-left: 5px;
  margin-top: 1px;
  border-left-color: var(--cor05);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  z-index: 1;
}

.container__navegacao :nth-child(2)::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-width: 13px;
  margin-left: 5px;
  margin-top: 1px;
  border-left-color: var(--cor05);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  z-index: 1;
}
.container__navegacao :nth-child(3)::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-width: 13px;
  margin-left: 5px;
  margin-top: 1px;
  border-left-color: var(--cor05);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  z-index: 1;
}
.container__navegacao :nth-child(2)::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-width: 13px;
  margin-left: -17px;
  margin-top: 1px;
  border-left-color: transparent;
  border-bottom-color: var(--cor05);
  border-top-color: var(--cor05);
  border-right-color: transparent;
  border-style: solid;
  z-index: 1;
}
.container__navegacao :nth-child(3)::before{
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-width: 13px;
  margin-left: -17px;
  margin-top: 1px;
  border-left-color: transparent;
  border-bottom-color: rgb(190, 188, 200);
  border-top-color: rgb(190, 188, 200);
  border-right-color: transparent;
  border-style: solid;
  z-index: 1;
}
.container__navegacao a:hover{
  color: white;
  font-weight: 500;
  font-weight: 500;
  background-color: blue;
  
 }
.container__navegacao :nth-child(2):hover::after{ 
  border-left-color: blue;
 }
 .container__navegacao :nth-child(1):hover::after{
  border-left-color: blue;
 }
 .container__navegacao :nth-child(2):hover::before{
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: blue;
  border-top-color: blue;
 }
.card-index {
  border: 1px solid var(--cor_texto);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: #1526e6;
    
}

.card-index .card-body {
  background-color:#1526e6;
    
}
.card-index:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  
}
.card-index .card-img-top {
  max-width: 100px;
  max-height: 100px; 
  position: relative;  
}
.card-title {
  font-size: 17px;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-text {
  font-size: 12px;
  text-transform: uppercase;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
/****************************/
/**css maquinas***/
.card-maq{
  border-radius: 10px ;
  
}
.card-body{
  background-color:#1526e6;/*#0080ed;*/
  color:#888;
}
.card-body:hover{
  color:white;
}
.card-maq:hover {
  cursor: pointer;
  transition: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: white;
}

/***css maquinas***/
.div-titulo-maquinas {
  text-align: center;
  border-radius: 5px; 
}
.sub-titulo-maq{
/* border: 1px solid var(--cor_text_p);
border-radius: 15px 0px 15px 0px; */
padding: 0px;
padding: 5px;
}

.h3-titulo-nome-maq strong{
  color: cornflowerblue;
  font-weight: 800;
  text-align:center;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h5-sub-titulo-maq {
  color: var(--cor_text_p);
  font-weight: 600;
  text-align: center;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}
.row-maq {
  padding: 15px;
}
.col-md-6 .foto-maquinas,.ppu--solda{
  width: 250px;
  height: 250px;
  align-items: center;
}

/***fim css maquinas***/
/******************************************/
/****css arames******/
.card__arame:hover {
  background-color: white;
  cursor: pointer;
  color: white;
  transition: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.card__arame .card-img-top {
  max-width: 150px;
  max-height: 150px; 
  position: relative;  
}

/**css inversora digital**/

td {
  color: var(--cor_text_p);
  border: 1px solid lightgray;
}

tr {
  color: var(--cor_text_p);;
  border: 1px solid lightgray;
}

.table {
  border: 1px solid lightgray;
}

.titulo-inversoras {
  color: var(--cor_text_p);
  font-size: 22px;
  margin-top: 10px; 
  text-transform: uppercase;
  font-weight: 700;
}

hr {
  border: 1px solid #fff;
}

/**fim css inversora digital**/

/**css contato**/

.form-label {
  color: white;
}

/**fim css contato**/

/**css pagina sobre***/
.main--sobre {
  color: var(--cor_text_p);
}
/**fim css pagina sobre***/

/***css pagina contato***/
.list__contato{
  margin-top: 80px ;
  list-style: none;
  
}
.list__contato a{
  color: var(--cor_text_p);
  text-decoration: none;
}
/***fim css pagina contato***/
.btn__catalogo{
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
  font-weight:300;
  border: 1px solid var(--cor_texto);
  height: 30px;
  width: 180px;
  text-decoration: none;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  background-color:rgba(125, 142, 167, 0.905);
  color: white;
  margin-bottom: 20px;
}

.btn__catalogo:hover{
  font-weight: bold;
  transition: 1s; 
  color: white;
  background-color:rgba(7, 7, 95, 0.905);
  
}

.slider{
  overflow: hidden;

}
.slider img{
  width: auto;
  height: 300px;

}
.slider > .slider-content{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
  flex: 0 0 auto;
  width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
  transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
  transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
  transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
  transform: translateX(-300%);
}

